#popup {
    width: 200px;
    height: 150px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    z-index: 10;
}

#content {
    background-color: lightgray;
}

.navbar{
	border-radius: 0;
	min-height: 20px;
  background-color: rgb(95, 133, 177);
  color: rgb(226, 216, 216);
  padding: 10px;
  height: 8%;
  overflow: hidden;
}
.navbar a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    font-size: 18px;
    float: left;
    text-align: center;
    padding: 14px 16px;
  }
  
  .navbar a:hover {
    color: rgb(224, 166, 166);
  }
  
  .right {
    float: right;
  }

.container-fluid{
	margin-top: 10px;
}

html, body {
  height: 100%;
}


.page-footer{
  position: absolute;
  bottom: 0;
  align-items: center;
  background-color: rgb(95, 133, 177);
  height: 10%;
  width: 100%;
  color:rgb(226, 226, 226);
  text-align: center;
  margin-top: 10px;
}

.page-footer > a {
  position: relative;
  top: 30%;
  transform: translateY(-50%);
  color:rgb(226, 226, 226);
  font-size: 18px;
  text-decoration: none;
}

.page-footer > a:hover {
  color: rgb(224, 166, 166);
}

.authors-container{
  display: flex;
}

.author1{
  flex: 1;
}
.author2{
  flex: 1;
}