<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
	  <link rel='stylesheet' href='{% static "css/base.css" %}' />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <title>Movies | {% block title %}{% endblock title %}</title>
</head>
<body>
  <nav class="navbar">
    <div class="menu">
      <div class="left">
        <a href="/">MyMovies</a>
        <a href="{% url 'example' 'fight' %}">example list</a>
        <a href="{% url 'search' %}">Search</a>
        <a href="{% url 'recommend' %}">Recommendations</a>
      </div>
      <div class="right">
          <!-- TODO - add other view of logged-in user (request.user.is_authenticated) --> 
        {% if not True %}
            <a href="{% url 'signup' %}">Sign Up</a>
            <a href="{% url 'login' %}">Login</a>
          
        {% else %}
        <a href="{% url 'info' %}">Account</a>
        <a href="{% url 'logout' %}">Logout</a>
        {% endif %}
      </div>
    </div>
</nav>
    
    {% block content %}

    {% endblock content %}
    
    
      <footer class="page-footer">
          <a href="{% url 'about' %}/"> About us</a>
      </footer>
</body>
</html>