{% extends 'main/base.html' %}
{% block title %}Home{% endblock title %}

{% block content %}

    About website creators:
    <hr>
    <div class="text-center center-block">
    <br />
      <a href="https://www.linkedin.com/in/wiktor-jakubowski/" target="_blank"><i class="fa fa-linkedin-square fa-3x social" style="color:#fff"></i></a>
      <a href="https://www.linkedin.com/in/hubert-bujakowski-690099231/" target="_blank"><i class="fa fa-linkedin-square fa-3x social" style="color:#fff"></i></a>
      <a href="https://github.com/WJakubowsk" target="_blank"><i id="social-git"class="fa fa-github-square fa-3x" style="color:#fff"></i></a>
      <a href="https://github.com/hbujakow" target="_blank"><i id="social-git"class="fa fa-github-square fa-3x" style="color:#fff"></i></a>
    </div>




{% endblock %}