{% extends "main/base.html" %}
{% block title %}Welcome Page{% endblock title %}
{% block content %}
    <h2>MyMovies is a website where you can find information about movies.</h2>

    Here are some example movies:
    <div style="overflow-x: scroll; white-space: nowrap;">
        {% for movie in movies %}
            <div style="display: inline-block;">
                <figure style="text-align: center">
                    <img src="{{ movie.poster }}" width="100">
                    <figcaption>{{ movie.title }}</figcaption>
                </figure>
            </div>
        {% endfor %}
    </div>

{% endblock %}