{% extends 'main/base.html' %}
{% block title %}Welcome Page{% endblock title %}

{% block content %}

    Welcome, {{ request.user.firtname }}!

    <li><a href="{% url 'example' 'fight' %}">ex list</a></li>

    <li><a href="{% url 'info' %}">info</a></li>
    <li><a href="{% url 'search' %}">search</a></li>
    <li><a href="{% url 'recommend' %}">recommend</a></li>

    <form method="post" action="{% url 'home' %}">
      {% csrf_token %}
      <input type="submit" value="Log out">
    </form>


{% endblock %}