{% extends 'main/base.html' %}

{% block title %}My List{% endblock title %}

{% block content %}
    <h3>My List</h3>

    <div style="overflow-x: scroll; white-space: nowrap;">
        {% for movie in user_movies %}
            <div style="display: inline-block;">
                <figure style="text-align: center">
                    <a href="{% url 'detail' movie.title %}">
                        <img src="{{ movie.poster }}" alt="{{ movie.title }}" style="width: 200px; height: 300px;">
                </figure>
            </div>
        {% endfor %}
    </div>

{% endblock %}
