{% extends 'main/base.html' %}
{% block title %}Log-In{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<form method="post" action="{% url 'login' %}">
    {% csrf_token %}{{form|crispy}}
    <p>Don't have an account? Create one <a href="{% url 'signup' %}">Here</a>!</p>

    <label for="username">Username:</label>
    <input type="text" name="username" id="username"><br>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password"><br>
    <button type="submit">Log In</button>
</form>

{% endblock %}.