{% extends "main/base.html" %}
{% block title %}Sing-Up{% endblock %}


{% block content %}


    already have an account? <a href="{% url 'login' %}">click here to login</a>

    <form method="post" action="{% url 'signup' %}">
      {% csrf_token %}
      <label for="username">Username:</label>
      <input type="text" name="username" id="username"><br>
      <label for="firstname">First name:</label>
      <input type="text" name="firstname" id="firstname"><br>
      <label for="lastname">Last name:</label>
      <input type="text" name="lastname" id="lastname"><br>
      <label for="email">Email:</label>
      <input type="email" name="email" id="email"><br>
      <label for="password">Password:</label>
      <input type="password" name="password" id="password"><br>
      <input type="submit" value="Sign up">
    </form>


{% endblock %}





