{% extends 'main/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
{% endblock head %}

{% block title %}Home{% endblock title %}
{% block content %}

    <div style="margin: 0.5em"><h1>Project authors</h1></div>
    <div class="text-center center-block">
    <br/>
    <div class="authors-container" style="display: flex;">
        <div class="author1" style="width: 48%; padding-left: 2em; padding-right: 2em;">
            <img width="170px" style="float:left; margin-right: 20px; margin-top: 1em;" src="https://media.licdn.com/dms/image/D4D03AQEh7cM0-OwZ2w/profile-displayphoto-shrink_800_800/0/1672390180777?e=1679529600&v=beta&t=_nRl2n7kHL26LavfzRV6L-AIYwCZ-gvcGB19VR0Bgoo">
            <p>
                <div class="name"><h2>Hubert Bujakowski</h2></div>    
                <div style="text-align: justify;">Third year student at the Warsaw University of Technology, currently pursuing engineer degree.
                Zealous about software engineering and application development with 2+ years of experience specialising in machine learning, REST API development, java programming, algorithms.
                </div>
            </p>
            <!-- <a href="https://www.linkedin.com/in/hubert-bujakowski-690099231/">LinkedIn</a>
            <a href="https://github.com/hbujakow">GitHub</a> -->
            </div>
        <div class="author2" style="width: 50%; padding-right: 2em;">
            <img width="170px" style="float:left; margin-right: 20px; margin-top: 2em;" src="https://media.licdn.com/dms/image/C4D03AQHoNJzFCNeO4Q/profile-displayphoto-shrink_800_800/0/1664215057889?e=1679529600&v=beta&t=-mEj6MzAh0MKls0oAWm8Jr3wjwH6F26cmWAbKbTWFSA">
            <p>
                <div class="name"><h2>Wiktor Jakubowski</h2></div>
                <div style="text-align: justify;">Third year student of Data Science at Faculty of Mathematics and Information Science, Warsaw University of Technology.
                Passionate about data science and machine learning engineering with 1 year of commercial experience specialising in software engineering, machine learning, data querying and cloud services.
                </div>
            <!-- </p>        
            <a href="https://www.linkedin.com/in/wiktor-jakubowski/">LinkedIn</a>
            <a href="https://github.com/WJakubowsk">GitHub</a> -->
        </div>
    </div>
    <br><br>
    <hr>
    <div class="'tech-container" style="margin: 0.5em"><h1>Project technology</h1>
    <div class="project">
       The project was created using Python Django framework. It features several computer science principles such as software engineering, API development, machine learning and cloud deployment. Repository of this project can be find <a href="https://github.com/hbujakow/MovieRecommender" style="text-decoration: none; color: rgb(95, 133, 177);">here.</a>
    </div>
    </div>
    
        
    </div>




{% endblock %}