{% extends "main/base.html" %}
{% block title %}Welcome Page{% endblock title %}
{% block content %}
    <h3 style="margin: 2em 0em 2em 1em">MyMovies is the website where you can learn about new movies, get recommendations on what to watch and express your opinions on viewed films.</h3>

    <div style="overflow-x: scroll; white-space: nowrap;">
        {% for movie in movies %}
            <div style="display: inline-block;">
                <figure style="text-align: center">
                    <img src="{{ movie.poster }}" height="250">
                    <figcaption style="font-size: 1.25em; margin: 2em">{{ movie.title }}</figcaption>
                </figure>
            </div>
        {% endfor %}
    </div>

{% endblock %}