{% extends 'main/base.html' %}

{% block title %}My List{% endblock title %}

{% block content %}
    <h3>This is your list of saved movies. Below you can find movies that you watched and rated.</h3>

    <div style="overflow-x: scroll; white-space: nowrap;">
        {% for movie in user_movies %}
            <div style="display: inline-block;">
                <figure style="text-align: center">
                    <a style="text-decoration:none" href="{% url 'detail' movie.title %}">
                        <img src="{{ movie.poster }}" alt="{{ movie.title }}" style="width: 200px; height: 300px;">
                </figure>
                <figcaption style="font-size: 1.25em; color: black; margin-bottom: 0.5em;">{{ movie.title }}</figcaption>
            </div>
        {% endfor %}
    </div>

{% endblock %}
