{% extends 'main/base.html' %}

{% block title %}My List{% endblock title %}

{% block content %}
    <h3>This is your list of saved movies. Below you can find movies that you watched and rated.</h3>

    <div class="scrollable-content" style="overflow-x: scroll; white-space: nowrap;">
        {% for movie in user_movies %}
            <div style="display: inline-block;">
                <figure style="text-align: center; text-decoration: none">
                    <a href="{% url 'detail' movie.title %}">
                        <img src="{{ movie.poster }}" width="225">
                    </a>
                    <figcaption style="font-size: 1.25em">{{ movie.title }}</figcaption>
                </figure>
            </div>
        {% endfor %}
    </div>

{% endblock %}
